<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.mapper.RoleMenuMapper">
    <insert id="batchInsert">
        INSERT INTO role_menu (role_id,menu_id) VALUES
        <foreach collection="ids" separator="," item="item">
            (#{roleId},#{item})
        </foreach>
    </insert>

    <select id="listMenuIdsByRoleId" resultType="java.lang.Integer">
        SELECT `menu_id` FROM `role_menu`
        WHERE `role_id` = #{roleId} AND status = 0
    </select>

    <update id="updateStatus">
        UPDATE role_menu SET status = #{status} WHERE role_id = #{roleId}
    </update>
</mapper>
